name: Deploy App CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Grant rights
        run: chmod +x build.gradle

      - name: Build with Gradle
        id: build
        run: ./gradlew build

      - name: Build Release APK
        id: buildRelease
        run: ./gradlew assembleRelease

      - uses: actions/upload-artifact@v2
        name: upload build output
        with:
         name: 下载的压缩包名字
         path: ${{ github.workspace }}/app/build/outputs/apk/release

      - name: Create service_account.json
        id: createServiceAccount
        run: echo '${{ secrets.SERVICE_ACCOUNT }}' > service_account.json

      - name: Deploy to Play Store (BETA)
        id: deploy
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: service_account.json
          packageName: jp.co.githubtestproject
          releaseFiles: app/release/app-release.apk
          track: internal
